.error-container{
    text-align: center;
    color: #fff;
}

.error-container h1{
    font-size: 90px;
}

.error-container p{
    font-size: 40px;
}

.alert-error{
    background-color: #f7707b;
    color: #721C23;
    border: 1px solid #721C23;
}

.alert-success{
    background-color: #D3EDDA;
    color: #79b689;
    border: 1px solid #79b689;
}

.alert-success,
.alert-error{
    text-align: center;
    width: 60%;
    margin: 15px 0;
    padding: 10px;
}