.btn-menu{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn-menu a{
    margin: 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
}

.table-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-btn a:hover {
    color: #181818;
}