<nav>
    <div class="menu-nav">
        <a href="/"><i class="material-icons">home</i></a>
        <% if(user){ %>
            <a href="/login/logout"><strong>Sair</strong></a>
            <% } else {%>
                <a href="/login"><strong>Entrar</strong></a>
                <% }%>
    </div>
</nav>