<%- include('includes/head') %>
<%- include('includes/nav') %>

<main>
    <div class="error-container">
        <h1>Erro!!!</h1>
        <p>A página que você procura não existe!</p>
    </div>
</main>
    
<%- include('includes/footer') %>