<%- include('includes/head') %>
<%- include('includes/nav') %>
<main>
    <div class="main-container">
        <h1>Agenda</h1>
        <p>Seus contatos estão abaixo.</p>


        <table class="table">
            
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Editar</th>
            </tr>

            <tr>
                <td>luiz</td>
                <td>Henriqfgfdge</td>
                <td>24992739477</td>
                <td>Luiz@gmais.com</td>
            </tr>

            <tr>
                <td>lui333z</td>
                <td>Henriqtetue</td>
                <td>24992gerg739477</td>
                <td>Luiz@gmais.com</td>
            </tr>

            <tr>
                <td>luiz</td>
                <td>He5555nrique</td>
                <td>24992739477</td>
                <td>Luiz@g44mais.com</td>
            </tr>
        </table>

    </div>
</main>
    
<%- include('includes/footer') %>