<%- include('includes/head') %>
<%- include('includes/nav') %>
<main>
    <div class="login-complet">
        <%- include('includes/msg') %>
        <a href="/"><i class="material-icons">home</i></a>
    </div>
    
</main>
    
<%- include('includes/footer') %>